i{
	font-family:"iconfont";
    font-size:16px;
    font-style:normal;
    display: inline-block;
}
*{
	margin: 0;
	padding: 0;
}
.clear{
	clear: both;
}
body{
	width: 100%;
	height: 100%;
	font-family: arial;
	font-size: 10px;
}
header{					/*头部*/
	height: 48px;
	width: 100%;
	background: #3e98f0 url(https://gss0.bdstatic.com/5foIcy0a2gI2n2jgoY3K/n/nvn/static/news/imgs/bg-news-logo_344ce44.png) no-repeat
	center center;
	background-size:65px auto;

}
header a{
	text-decoration: none;
	display:block;
	margin: 1rem;
	color: #fff;
}
header a:nth-child(1),header a:nth-child(2){
	float: left;
}
header a:nth-child(3),header a:nth-child(4){
	float: right;
}
nav{				/*导航*/
	background: #3e98f0;
	width: 100%;
	/*font-size: 0;*/
}
nav ul li{
	list-style: none;
	text-align: center;
	line-height: 1.8rem;


}
nav ul li b{
	position: absolute;
    top: 3px;
    left: -1px;
    height: 12px;
    width: 1px;
    display: block;
    overflow-y: hidden;
    background-color: #5dabf0;
}
nav ul li a {
	font-size: 1.6rem;
	color: #fff;
}
.leftdian{
	position: absolute;
    left: 6px;

}
.leftdian span{
	margin-right: -8px;
}
article {
	margin: 1rem;
}
#carousel-example-generic .carousel-caption{
	background: 
}
/*新闻块*/

.newscontainer{
	display: flex;

}
.newscontainer .newsimg{
	flex:1;
}
.newscontainer .newsimg img{
	width: 100%;
}
.newscontainer .newsmain{
	flex:2;
}
.newscow{
	display: block;
	margin-top: 10px;

}
.newscow:hover{
	text-decoration: none;
}
.newscow li{
	list-style: none;
}
.newstitle{
	font-size: 2rem;
	font-weight: bolder;
	color: #222;
}
.newstime{
	font-size: 1rem;
	color: #222;

}
.newssrc{
	border:1px red solid;
	font-size: 1rem;
	color: red;

}